spring: # Clé unique
  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  main:
    allow-bean-definition-overriding: true

  cloud: # La partie cloud est déplacée ici
    config:
      server:
        git:
          refreshRate: 0

server:
  error:
    include-message: always

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh